<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/alpine.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.classless.min.css') }}">
    <title>To-Do List App</title>
</head>

<body>
    <main>
        {% include 'partials/nav.html' %}
        <section>
            <article>
                <h1>Simple counter</h1>
                <section>

                    <div x-data="{ count: 0 }">
                        <button x-on:click="count++">Increment</button>

                        <span x-text="count"></span>
                    </div>
                </section>
                <section>

                    {% include 'partials/modal.html' %}
                </section>
            </article>
        </section>
        {% include 'partials/form.html' %}
        {% include 'partials/todos.html' %}
    </main>
</body>

</html>